<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon">

    <title>OAUTH</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ __STATIC__ }}css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ __STATIC__ }}css/signin.css" rel="stylesheet" />

    <style type="text/css">
        body{
            font-family: "Microsoft JhengHei", "SimHei", "Microsoft YaHei";
        }
        .p-msg{
            margin-top: 40px;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ __STATIC__ }}js/html5shiv.min.js"></script>
    <script src="{{ __STATIC__ }}js/respond.min.js"></script>
    <![endif]-->
    <script>

        function $(id){
            return document.getElementById && document.getElementById(id);
        }

        window.onload = function () {
            var initNum = 4;
            var secCount = setInterval(function(){
                $("msgSec").innerHTML = initNum;
                initNum -- ;
                if(initNum < 0){
                    clearInterval(secCount);
                    {% autoescape false %}
                    location.href = '{{ url }}';
                    {% endautoescape %}
                }
            }, 1000);
        }
    </script>
</head>
<body>
    <div class="container p-msg">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1></h1>
                    <p>{{ msg }}</p>
                    <p><span id="msgSec">5</span>秒后页面将自动跳转... 若页面自动跳转失败，请点击下面跳转按钮</p>
                    <p><a class="btn btn-primary" href="#" role="button">跳转</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>