<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" >

    <title>OAUTH</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ __STATIC__ }}css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ __STATIC__ }}css/signin.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ __STATIC__ }}js/html5shiv.min.js"></script>
    <script src="{{ __STATIC__ }}js/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-12 form-signin-wrapper">
          <form class="form-signin" method="post" action="/handleOauth">
            <h2 class="form-signin-heading">还差一步，完成授权</h2>
            <p>是否授权{{ app.getName }}?</p>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="oauth" name="oauth">授权
              </label>
            </div>
            <div class="row">
            <div class="col-xs-6">
              <button class="btn btn-lg btn-primary btn-block"  type="submit">授权</button>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-lg btn-default btn-block" type="submit">忽略</button>
            </div>
            </div>

          </form>
        </div>

        <div class="col-md-8 col-sm-12 form-ad-wrapper">
          <div class="form-ad">
            <img src="{{ __STATIC__ }}i/ad.jpg" title="ad">
            这是广告
          </div>
        </div>

      </div>

    </div>


      <script src="{{ __STATIC__ }}js/jquery-1.11.3.min.js"></script>
      <script src="{{ __STATIC__ }}js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{{ __STATIC__ }}js/ie10-viewport-bug-workaround.js"></script>
      <script src="{{ __STATIC__ }}js/ie10-viewport-bug-workaround.js"></script>

</body></html>