<!DOCTYPE html>
<html lang="en">

{% include "Admin/header.html.twig" %}

<body>

<div id="wrapper">

    <!-- Navigation -->
    {% include "Admin/toolbar.html.twig" %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">App List</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-12">
                <div class="well">

                    <a href="/app/addApp"> <button type="button" class="btn btn-default btn-circle" title="新增平台"> <i class="fa fa-plus"></i></button> </a>
                </div>
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>平台名称</th>
                                <th>平台认证ID</th>
                                <th>代号</th>
                                <th>平台接入次数</th>
                                <th>用户接入次数</th>
                                <th>接入时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for app in  list %}
                            <tr class="gradeA">
                                <td>{{ app.name }}</td>
                                <td>{{ app.app_id }}</td>
                                <td class="center">{{ app.code }}</td>
                                <td class="center">{{ app.insert_times }}</td>
                                <td class="center">{{ app.insert_users }}</td>
                                <td class="center">{{ app.invt_time }}</td>
                                <td>
                                    <a href="/app/editApp/{{ app.auto_id }}"> <button type="button" class="btn btn-default btn-circle" title="编辑"> <i class="fa fa-edit"></i></button> </a>
                                    <button type="button" class="btn btn-default btn-circle" onclick="del({{ app.auto_id }})" title="删除" > <i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            {% autoescape  false %}
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                {{ list.render }}
                            </div>
                            {% endautoescape %}
                        </div>
                    </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{% include "Admin/footer.html.twig" %}
<script type="text/javascript">
    function del(aid){
        var d = dialog({
            id: "del",
            content: '确认删除？',
            okValue: "提交",
            width: 200,
            height: 50,
            ok: function() {
                $.post('/app/delApp', {auto_id:aid},
                        function(msg) {
                            var circle = new ShowCircle();
                            circle.closeCircle(msg);
                        },'json');
            },
            cancelValue: '取消',
            cancel: function() {},
        });
        d.showModal();
    }
</script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->


</body>

</html>
